/* Page */

* {
    background-color: #F0E8C8;
    color: #F34646;
    font-family: 'Neuton', serif;
}


/* Logo */

.logo {}

.logotext {
    margin-left: 500px;
    margin-top: -1000px;
}

.cement {
    margin-left: 500px;
}


/* Navigation */

header nav li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.submenu {}

.boks {
    margin-left: 250px
}

.column {
    float: left;
    width: 49%;
    padding: 2px;
}

.ecolumn {
    float: left;
    width: 99%;
    padding: 2px;
    text-align: center;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
    }
}

.billede {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 35%;
    height: auto;
}

.billede_covid {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
}