/* Page */

* {
    background-color: #F0E8C8;
    color: #F34646;
}


/* Logo */

.logo {
    margin-left: 0;
}


/* Navigation */

header nav li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

.submenu {}